/* application-form.component.scss */
.form-container {
  max-width: 600px;
  margin: 2rem auto;

  h2 { text-align: center; margin-bottom: 1rem; }

  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    label {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      input, textarea {
        margin-top: .25rem;
        padding: .5rem;
        border: 1px solid #ddd;
        border-radius: .25rem;
      }
    }
  }

  button {
    margin-top: 1rem;
    margin-right: .5rem;
  }
}
