<!-- application-form.component.html -->
<div class="form-container">
  <h2>{{ isEdit ? 'Editar' : 'Nueva' }} Aplicación</h2>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="grid">
      <label>Nombre <input formControlName="name" /></label>
      <label>URL <input formControlName="url" /></label>
      <label>Descripción <textarea formControlName="description"></textarea></label>
      <label>Servidor BD <input formControlName="dbServer"/></label>
      <label>Nombre BD <input formControlName="dbName"/></label>
      <label>Repo <input formControlName="repoUrl"/></label>
      <label>Versión <input formControlName="version"/></label>
      <label>Owner ID <input type="number" formControlName="ownerUserId"/></label>
      <label>SME ID <input type="number" formControlName="smeUserId"/></label>
      <label>Email Soporte <input formControlName="supportEmail"/></label>
      <label>Departamento <input formControlName="department"/></label>
    </div>
    <button type="submit" [disabled]="form.invalid">
      {{ isEdit ? 'Actualizar' : 'Crear' }}
    </button>
    <button type="button" (click)="router.navigate(['/applications'])">Cancelar</button>
  </form>
</div>
