<table class="tbl-painter-jb">
    <thead>
        <tr>
            <th style="width:8%;"></th>
            <th>Action info</th>
            <th>Actions</th>
            <th>Responsable</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="td-btn">
                    <button class="btn btn-primary"><i class="fa fa-info"></i></button>
                
            </td>
            <td>
                <div>
                    <p>actioninfo </p>
                </div>
            </td>
            <td>
                <div>
                    actions detals
                </div>
            </td>
            <td>
                <div>
                    <p>responsable</p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-btn">
                    <button class="btn btn-primary"><i class="fa fa-info"></i></button>
                
            </td>
            <td>
                <div>
                    <p>actioninfo </p>
                </div>
            </td>
            <td>
                <div>
                    actions detals
                </div>
            </td>
            <td>
                <div>
                    <p>responsable</p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-btn">
                    <button class="btn btn-primary"><i class="fa fa-info"></i></button>
                
            </td>
            <td>
                <div>
                    <p>actioninfo </p>
                </div>
            </td>
            <td>
                <div>
                    actions detals
                </div>
            </td>
            <td>
                <div>
                    <p>responsable</p>
                </div>
            </td>
    </tbody>
</table>